{$DOMAIN_NAME} {
    reverse_proxy frontend:80

    handle_errors {
        rewrite * /{err.status_code}.html
        file_server
    }

    log {
        output file /var/log/caddy/access.log
    }
}
